@model WebApplication3.Models.GalleryViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="announcement">
    <div>
        <h1 class="grey">@Html.DisplayFor(model => model.Announcement.AnnouceTitle)</h1>
        <p class="body_text">
            @Html.DisplayFor(model => model.Announcement.AnnouceBody)
        </p>
    </div>
    <div class="stats">
        <p>
            <span class="grey">
                <span class="bold">
                    Posted:
                </span>@Html.DisplayFor(model => model.Announcement.DatePosted)
                <br />
                <span class="bold">
                       View Count:
                </span>@Html.DisplayFor(model => model.Announcement.StatsCounter)
            </span>
        </p>
        <div class="Edit-Button">
            <a asp-action="Edit" asp-route-id="@Model.Announcement.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="comment_container">
        <table class="comments_table">
            <tr>
                <th class="grey">Comments</th>
            </tr>
            @foreach (Comments item in Model.Comments)
            {
                <tr>
                    <td class="grey">@Html.DisplayFor(modelItem => item.CommentBody)</td>
                </tr>
            }
        </table>
        <div class="AddComment">
            <h6><b>Add Comment</b></h6>
            <form asp-action="Details" id="comment_form">
                <div asp-validation-summary="ModelOnly" class="text-changer"></div>
                <input type="hidden" asp-for="AnnounceID" value="@Model.Announcement.Id" />
                <div class="form-group">
                    <input asp-for="CommentBody" class="form-control-edit" id="add_comments"></input>
                    <span asp-validation-for="CommentBody" class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
</div>